.notesList{
  display: grid;
  grid-gap: 10px;
  border-radius: .2rem;
  background-color: #dfe3e6;
  padding: .5rem;
  width: 50%;
  margin: 0 auto;
  height: 50vh;
}

.noteItem{
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  padding: .5rem;
  list-style: none;
}
