.noteForm {
  width: 75%;
  margin: 0 auto;
}

.noteArea {
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  font-size: 18px;
}

.notesList {
  display: grid;
  grid-gap: 10px;
  border-radius: 0.2rem;
  background-color: #dfe3e6;
  padding: 0.5rem;
  width: 50%;
  margin: 0 auto;
}

.noteItem {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  padding: 0.5rem;
  list-style: none;
}

.editMode {
  width: 300px;
  display: block;
}
.btnLayout {
  display: flex;
  justify-content: end;
}
.noteItemBtn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #95cebc;
  margin: 10px;
  border: 0;
  padding: 8px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  width: 80px;
  border-radius: 10px;
}
.noteItemBtn:hover,
.form button:active,
.form button:focus {
  background: #68998f;
}
