@import "../theme";

.actionBarLayout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background: #fff;
  padding: 20px;
  box-shadow: 1px 6px 8px -3px rgba(120, 119, 120, 1);
}

.logo {
  width: 132px;
}

.logoutButton {
  background: #f2c264;
  @extend %button;
  font-weight: bold;
}
